html {
    body {
        #page-container {
            position: relative;
            min-height: calc(100vh - 55px);

            #content-wrap {
                margin-top: 55px;
                padding-bottom: 2.5rem;
            }

            #footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2.5rem;
            }
        }
    }
}
